@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


.not-found-page {
    background-color: #000; /* Set background to black */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    display: flex; /* Use flexbox to center content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    position: relative; /* Position relative for absolute children */
}

.not-found-page .center-xy {
    position: absolute; /* For absolute positioning within container */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.not-found-page html,
.not-found-page body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    height: 100%;            /* Ensure full height */
    margin: 0;              /* Remove default margin */
    padding: 0;             /* Remove default padding */
    overflow: hidden;       /* Hide scrollbars */
}

.not-found-page html {
    box-sizing: border-box;
    user-select: none;
}

.not-found-page body {
    background-color: #000 !important;
    display: flex;          /* Use flex to center content */
    align-items: center;    /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.not-found-page *, *:before, *:after {
    box-sizing: inherit;
}

.not-found-page .container {
    width: 100%;
}

.not-found-page .copy-container {
    text-align: center;
}

.not-found-page p {
    color: #fff;
    font-size: 24px;
    letter-spacing: .2px;
    margin: 0;
}

.not-found-page .handle {
    background: #ffe500;
    width: 14px;
    height: 30px;
    top: 0;
    left: 0;
    margin-top: 1px;
    position: absolute;
}

.not-found-page #cb-replay {
    fill: #666;
    width: 20px;
    margin: 15px;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: inherit;
    cursor: pointer;

    &:hover {
        fill: #888;
    }
}
