.tableusers {
    width: 70vw !important;
    margin-top: 10px !important;
    margin-left: 30px;
    border-collapse: collapse; /* Ensures that borders are collapsed into a single border */

}

body .tableusers {
    background-color: var(--table-background);
}

body.dark .tableusers {
    background-color: var(--table-background);
}
body .tabletext {
    color: black;
}

body.dark .tabletext {
    color: white;
}

:root {
    /* ===== Colors ===== */
    --edit-btn-color: #0022ff;
    --delete-btn-color: #f44336;
    --table-background: #FFF;

    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

.action-btn:hover {
    --delete-btn-color: #e57373;
}

.action-btn.delete {
    color: var(--delete-btn-color);
}

.action-btn.edit {
    color: var(--edit-btn-color);
}

body.dark {
    --edit-btn-color: #ffa726;
    --delete-btn-color: #f44336;
    --table-background: rgba(82, 82, 82, 0.67);
}

/* Add border to table and cells */
.tableusers, .tableusers th, .tableusers td {
    border: 1px solid #ddd;
}

/* Add striped effect */
.tableusers tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

body.dark .tableusers tbody tr:nth-child(odd) {
    background-color: #6d6d6d;
}

/* Add hover effect */
.tableusers tbody tr:hover {
    background-color: #f1f1f1;
}

body.dark .tableusers tbody tr:hover {
    background-color: #555;
}

.btn-add{
    margin-left: 30px !important;
}
.btn-add.permission{
    margin-top: 50px !important;
}

#editbtn,#deletebtn{
    padding: 4px;
}

.dialog-design{
    background-color: var(--color-background);
}